In [ ]:
#pip install yfinance
#pip install pandas-datareader

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime
from datetime import timedelta
import datetime

import yfinance as yf
from pandas_datareader import data as pdr

In [3]:
start = datetime.datetime(2022,3,7)
end = datetime.datetime(2022,3,8)

In [5]:
yf.pdr_override()
tsla = yf.download('TSLA',start=start, end=end, interval='1h')

[*********************100%***********************]  1 of 1 completed

In [6]:
tsla.tail()

,Open,High,Low,Close,Adj Close,Volume
2022-03-07 12:30:00-05:00,829.520020,838.489929,817.140015,818.380005,818.380005,2396778
2022-03-07 13:30:00-05:00,818.030090,822.250000,812.130005,817.320007,817.320007,2042545
2022-03-07 14:30:00-05:00,817.234985,817.979980,805.559998,811.380005,811.380005,2468752
2022-03-07 15:30:00-05:00,810.710022,812.400024,804.570007,804.580017,804.580017,2080656
2022-03-11 16:00:00-05:00,795.349976,795.349976,795.349976,795.349976,795.349976,0

In [16]:
tsla.to_csv("tsla.csv")

In [17]:
btc = yf.download('BTC-USD',start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [18]:
btc.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-04,42458.140625,42479.613281,38805.847656,39137.605469,39137.605469,28516271427
2022-03-05,39148.449219,39566.335938,38777.035156,39400.585938,39400.585938,16975917450
2022-03-06,39404.199219,39640.175781,38211.648438,38419.984375,38419.984375,19745229902
2022-03-07,38429.304688,39430.226562,37260.203125,38062.039062,38062.039062,28546143503
2022-03-08,38059.902344,39304.441406,37957.386719,38737.269531,38737.269531,25776583476

In [19]:
btc.to_csv("BTC-USD.csv")

In [20]:

doge = yf.download('DOGE-USD',start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [21]:
doge.tail()

                Open      High       Low     Close  Adj Close     Volume
Date
2022-03-04  0.129631  0.129856  0.121544  0.122591   0.122591  650665594
2022-03-05  0.122614  0.125375  0.121572  0.124996   0.124996  334091552
2022-03-06  0.125025  0.125611  0.120384  0.120766   0.120766  400458464
2022-03-07  0.120769  0.122563  0.115015  0.117105   0.117105  513014829
2022-03-08  0.117106  0.119724  0.115838  0.117029   0.117029  491414294

In [22]:
doge.to_csv("DOGE-USD.csv")

In [23]:
amzn = yf.download('AMZN',start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [24]:
amzn.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-01,3054.649902,3081.979980,2999.540039,3022.840088,3022.840088,2243700
2022-03-02,3016.979980,3059.989990,2975.000000,3041.050049,3041.050049,2366700
2022-03-03,3070.629883,3078.580078,2937.120117,2957.969971,2957.969971,3259900
2022-03-04,2943.179932,2957.000000,2876.139893,2912.820068,2912.820068,3046700
2022-03-07,2908.870117,2921.889893,2748.330078,2749.060059,2749.060059,4330800

In [25]:
amzn.to_csv("amzn.csv")

In [26]:
fb = yf.download('fb',start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [27]:
fb.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-01,209.869995,211.750000,202.220001,203.490005,203.490005,27094900
2022-03-02,204.779999,209.149994,202.020004,208.110001,208.110001,29452100
2022-03-03,209.020004,209.080002,201.419998,202.970001,202.970001,27263500
2022-03-04,202.369995,205.889999,198.789993,200.059998,200.059998,32130900
2022-03-07,200.789993,200.889999,187.279999,187.470001,187.470001,38506800

In [28]:
fb.to_csv("fb.csv")